<%-include('../partials/header.ejs')%>
<form action="/Clinicks/UpdateClinick/<%=clinick.id%>?_method=PUT" method="POST">
    <h1> Edit Clinick</h1><br>

    <input type="text" placeholder="სურატის ლინკი" value="<%=clinick.Image%>" name="img" id="name" required><br>

    <input type="text" placeholder="სახელი" name="name" value="<%=clinick.username%>" id="name" required><br>
    <input type="text" placeholder="მაილი" name="email" value="<%=clinick.Mail%>" id="name" required><br>
    <input type="text" placeholder="ინფორმაცია" name="textA" value="<%=clinick.About%>" id="name" required><br>
    
    <button type="submit" class="registerbtn">Edit</button>
</form>
<%-include('../partials/foother.ejs')%>