<%-include('../partials/header.ejs')%>
<div>     
    <div class="card">
        <div class="thumbnail"><img class="left" src="<%=singleP.Image%>" /></div>
        <div class="right">
            <h1><%=singleP.username%></h1>
            <div class="author"><img src="<%=singleP.Image%>" />
                <h2><%=singleP.username%></h2>
            </div>
            <div class="separator"></div>
            <p><%=singleP.about%></p>
        </div>
        <div class="fab"><a href="/medic"><i class="fa fa-arrow-down fa-3x"></i></a></div>
    </div>
 <%if(isLogged===true){%>
    <form action="/News/EditNews/<%=singleP.id%>" method="GET">
        <button   type="submit">Edit</button>
     </form>
<%}%>
</div>


<script>
    /*const trash =document.getElementById('delete');
   
    trash.addEventListener('click',(e)=>{
   
       let end =`/News/news/${trash.dataset.doc}`;
   
       fetch(end,{
           method:'DELETE'
       })
       .then((res)=> res.json())
       .then(data=>window.location.href=data.redirect)
       .catch(err=>console.log(err));
    });*/
   </script>
<%-include('../partials/foother.ejs')%>